@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* bg */
  --color-1st: #1c9dea;
  --color-2nd: #e5edf5;
  --color-3rd: #eff7fe;

  /* divide */
  --dv: #e5e7eb;

  /* text */
  /* text color messsage other */
  --color-4th: #fff;
  /* text color message me */
  --color-5th: #223645;
  
}

.dark {
  /* --bg-primary: ''; */
  --color-2nd: #191b1f;
  --color-3rd: #25262c;

  --dv: #3d4046;

  /* text color messsage other */
  --color-4th: #191b1f;
  /* text color message me */
  --color-5th: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cad7de; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

:focus-visible {
  outline: none !important;
}

.border-1 {
  border-width: 1px;
}

.shape_other {
  width: 12px;
  height: 12px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: 100%;
  position: absolute;
  left: 35px;
  transform: rotate(-45deg);
  background: #fff;
  margin-top: -7px;
}

/* custom emoji picker */
#emoji-mart-list span {
  cursor: pointer;
}

.auth_bg {
  background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@layer components {
    .message h3 {
      @apply text-5th
    }
    .message_me {
      @apply justify-start flex-row-reverse
    }
  
    .message_me h3{
      @apply text-right text-5th flex flex-row-reverse gap-5 items-center
    }
  
    .message_me .message_content {
      @apply bg-2nd text-5th rounded-tr-none
    }
  
    .message .message_content{
      @apply bg-primary rounded-tl-none text-white
    }
    .blur-avatar {
      @apply relative
    }
    .blur-avatar::before {
      /* @apply absolute left-0 top-0 h-full w-full rounded-2xl shadow-blur-avarta */
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      box-shadow: inset 0 -25px 40px 6px rgb(0 0 0 / 80%);
    }
    .message_active {
      @apply bg-3rd border-l-4 border-primary
    }
    .h-recent {
      height: calc(100% - 257px);
      overflow-y: scroll;
    }

    .border-error {
      @apply border-red-500 border-[1px]
    }

    /* Custom daisy ui */
    
  }


